<?xml version="1.0" encoding="UTF-8"?>

<!-- - Application context definition for JPetStore's business layer. - Contains 
	bean references to the transaction manager and to the DAOs in - dataAccessContext-local/jta.xml 
	(see web.xml's "contextConfigLocation"). -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- struts2 中 action 对象 -->
	<bean id="indexAction" class="com.investdata.action.IndexAction" />
	<bean id="loginAction" class="com.investdata.action.LoginAction" scope="prototype"/>
	<bean id="regAction" class="com.investdata.action.RegAction" scope="prototype">
		<property name="mailMessage" ref="mailMessage" />
	</bean>
	<bean id="stockAction" class="com.investdata.action.StockAction" />
	<bean id="imageAuthAction" class="com.investdata.action.AuthImageAction" />
	<bean id="passwordOperAction" class="com.investdata.action.PasswordOperAction" scope="prototype">
		<property name="mailMessage" ref="mailMessage" />
	</bean>
	
	<!-- 后台管理相关 action -->
	<bean id="userMgrAction" class="com.investdata.action.admin.UserMgrAction" scope="prototype"/>
	<bean id="adminUserMgrAction" class="com.investdata.action.admin.AdminUserMgrAction" scope="prototype"/>
	<bean id="financeIndexMgrAction" class="com.investdata.action.admin.FinanceIndexMgrAction" scope="prototype"/>
	<bean id="stocksMgrAction" class="com.investdata.action.admin.StocksMgrAction" scope="prototype"/>
	
	<!-- 图表展示相关处理action Bean -->
	<!-- 每股指标 -->
	<bean id="perShareAction" class="com.investdata.action.pershare.PerShareAction" scope="prototype"/>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mail.properties</value>
			</list>
		</property>
		<property name="fileEncoding">
			<value>UTF-8</value>
		</property>
	</bean>

	<bean id="mailSendWrapper" class="com.investdata.mail.MailSendWrapper">
		<property name="sender" ref="mailSender" />
	</bean>

	<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="${mail.from}"></property>
		<!-- 邮件发送功能属于公共能力，主题会不同，所以动态设置，不注入
		<property name="subject" value="${mail.subject}"></property>
		 -->
		<!-- 查看SimpleMailMessage源码还可以注入标题,内容等 -->
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="host" value="${mail.host}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="javaMailProperties">
			<props>
				<!-- 设置认证开关 -->
				<prop key="mail.smtp.auth">true</prop>
				<!-- 启动调试开关 -->
				<prop key="mail.debug">true</prop>
				<!-- 设置发送延时 -->
				<prop key="mail.smtp.timeout">0</prop>
			</props>
		</property>
	</bean>

</beans>
