html, body, h1, h2, h3, h4, h5, h6, p, blockquote, ul, li, form, input, figure {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none outside;
}
table {
	border-collapse: collapse;
}
img {
	vertical-align: middle;
	background: none;
	border: none;
}
label, input, select {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	outline: none;
}
label, input, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	border-radius: 0;
}
input:focus {
	outline: none;
}
a {
	text-decoration: none;
}
cite, code, i, em, s {
	font-style: normal;
	text-decoration: inherit;
	font-family: inherit;
}
html, body {
	font: 100 12px/20px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simsun', '宋体';
	color: #000;
}
header, nav, figure, aside, article, section, footer {
	display: block;
}
mark, var, time, output, meter {
	display: inline;
}
mark {
	background: #ff0;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	display: block;
	content: '.';
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
}
.cspec {
	color: #e60012 !important;
}
a.cspec:link, a.cspec:visited, a.cspec:hover {
	color: #e60012 !important;
}
code.s_dot {
	font-family: '宋体';
	vertical-align: middle;
}
.marked {
	background: #fb3 !important;
	color: #333 !important;
}
a.marked:link, a.marked:visited, a.marked:hover {
	background: #fb3 !important;
	color: #333 !important;
}
a:link .marked, a:visited .marked, a:hover .marked {
	background: #fb3 !important;
	color: #333 !important;
}
.tit01 {
	font: 100 20px/24px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
	color: #e60012;
	padding-top: 20px;
}
.tit01 .s_dot {
	font-size: 12px;
	line-height: 24px;
}
.tit02 {
	float: left;
	width: 80px;
	padding-left: 10px;
	border-left: 2px solid #000;
	font: 100 18px/24px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
	color: #000;
	margin-top: 3px;
	_display: inline;
	_width: 77px;
}
.tit02 a:link, .tit02 a:visited {
	color: #000;
}
.tit02 a:hover {
	color: #e60012;
}
.list01 {
	overflow: hidden;
	zoom: 1;
	font: 100 16px/30px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
}
.list01 li {
	float: left;
	width: 130px;
	white-space: nowrap;
	_display: inline;
}
.list01 .list01_ww {
	width: 188px;
}
.list01 .list01_www {
	width: 282px;
}
.list01 a:link, .list01 a:visited {
	color: #4b5053;
}
.list01 a:hover {
	color: #e60012;
	text-decoration: underline;
}
.list02 {
}
.list02 li {
	overflow: hidden;
	zoom: 1;
	height: 85px;
}
.list02 .p_a {
	float: left;
	width: 60px;
	margin-top: 5px;
	margin-right: 10px;
	_display: inline;
	_margin-right: 7px;
	_margin-top: 3px;
}
.list02 img {
	width: 60px;
	height: 60px;
}
.list02 h3 {
	overflow: hidden;
	zoom: 1;
	font: 100 16px/24px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
}
.list02 h3 a:link {
	color: #000;
}
.list02 h3 a:visited {
	color: #666;
}
.list02 h3 a:hover {
	color: #000;
	text-decoration: underline;
}
.list02 p {
	overflow: hidden;
	zoom: 1;
	font-size: 14px;
	color: #9a9a9a;
}
/* header */
.header {
	padding: 15px 0;
	background: #ebebeb;
}
.header .logo {
	float: left;
	_display: inline;
}
.header .search {
	float: right;
	_display: inline;
}
.header .search_k {
	width: 320px;
	height: 38px;
	padding-left: 10px;
	border: 1px solid #d4d4d4;
	border-right: none;
	background: #fcfcfc;
	color: #d4d4d4;
	font-size: 16px;
	line-height: 38px\9;
}
.header .search_k:focus {
	background: none;
	color: #000;
}
.header .search_smt {
	border: none;
	color: #fff;
	background: #2e82ff ;
	width: 84px;
	height: 40px;
	cursor: pointer;
	font-size: 16px; 
}
.header .search_smt:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.header h1 {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	overflow: hidden;
}
/* quick_links */
.quick_links {
	background: #fcfcfc;
	padding: 7px 0;
	border-bottom: 1px solid #eeeef0;
}
.quick_links span {
	font-size: 18px;
	line-height: 36px;
	padding-right: 19px;
}
.quick_links a {
	font-size: 16px;
	margin-right: 27px;
}
.quick_links a:link, .quick_links a:visited {
	color: #000;
}
.quick_links a:hover {
	color: #e60012;
	text-decoration: underline;
}
/* content */
.content {
	padding-top: 40px;
}
/* main */
.main {
	float: left;
	width: 750px;
	_display: inline;
}
/* nav */
.nav {
	width: 750px;
	overflow: hidden;
	zoom: 1;
	padding-bottom: 7px;
	border-bottom: 1px solid #e60012;
}
.nav p {
	width: 780px;
	overflow: hidden;
	zoom: 1;
}
.nav a {
	display: inline-block;
	height: 40px;
	padding: 0 0px;
	font: 100 20px/40px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simsun', '黑体';
	margin-right: 0px;
}
.nav a:link, .nav a:visited {
	color: #383d40;
}
.nav a:hover {
	color: #e60012;
}
.nav a.selected, .nav a.selected:link, .nav a.selected:visited, .nav a.selected:hover {
	color: #fff;
	background: #e60012;
}
.nav .s_dot {
	font-size: 12px;
	line-height: 40px;
}
.labspace {
	width: 58px;
	display: inline-block;
}
/* article */
.article {
	position: relative;
}
.section {
	padding-bottom: 5px;
	position: relative;
	zoom: 1;
}
.section div {
	padding: 15px 0 10px 0;
	border-bottom: 1px solid #eaeaea;
}
/* aside */
.aside {
	float: right;
	width: 210px;
	_display: inline;
}
.aside h2 {
	font: 100 22px/40px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
	color: #e60012;
}
/* footer */
.footer {
	margin-top: 30px;
}
.footer div {
	border-top: 1px solid #eaeaea;
	padding: 20px 0 40px;
	color: #666;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}
.footer a:link, .footer a:visited {
	color: #666;
}
.footer a:hover {
	color: #e60012;
	text-decoration: underline;
}
/* btn_top */
.btn_top {
	position: fixed;
	left: 50%;
	bottom: 100px;
	margin-left: 500px;
	width: 50px;
	overflow: hidden;
	display: none;
	_position: absolute;
}
.btn_top a {
	display: block;
	height: 50px;
	background: url(http://i1.sinaimg.cn/dy/main/sinaguide/btop.png) no-repeat;
	background-position: 0 0;
	overflow: hidden;
	-webkit-transition: background-position 300ms;
	-moz-transition: background-position 300ms;
	-ms-transition: background-position 300ms;
	-o-transition: background-position 300ms;
	transition: background-position 300ms;
}
.btn_top a:hover {
	background-position: 0 -50px;
}
body,td,th {
	font-family: Arial, "Microsoft Yahei", "微软雅黑", Simsun, "宋体";
}


.fn-clear::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.wbyTop {
    border-bottom: 1px solid #f2f2f2;
    color: #eaeaea;
    height: 35px;
    line-height: 35px;
	background:#0e6eb8;
}
.wbyLinks {
    float: right;
    padding-right: 10px;
    width: 270px;
}
.wbyLinks a {
    color: #fff;
    padding: 0 5px;
}
ins, a {
    text-decoration: none;
}