
.cspec {
	color: #e60012 !important;
}
a.cspec:link, a.cspec:visited, a.cspec:hover {
	color: #e60012 !important;
}
code.s_dot {
	font-family: '宋体';
	vertical-align: middle;
}
.marked {
	background: #fb3 !important;
	color: #333 !important;
}
a.marked:link, a.marked:visited, a.marked:hover {
	background: #fb3 !important;
	color: #333 !important;
}
a:link .marked, a:visited .marked, a:hover .marked {
	background: #fb3 !important;
	color: #333 !important;
}
.tit01 {
	font: 100 20px/24px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
	color: #e60012;
	padding-top: 20px;
}
.tit01 .s_dot {
	font-size: 12px;
	line-height: 24px;
}
.tit02 {
	float: left;
	width: 80px;
	padding-left: 10px;
	border-left: 2px solid #000;
	font: 100 18px/24px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
	color: #000;
	margin-top: 3px;
	_display: inline;
	_width: 77px;
}
.tit02 a:link, .tit02 a:visited {
	color: #000;
}
.tit02 a:hover {
	color: #e60012;
}
.list01 {
	overflow: hidden;
	zoom: 1;
	font: 100 16px/30px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
}
.list01 li {
	float: left;
	width: 130px;
	white-space: nowrap;
	_display: inline;
}
.list01 .list01_ww {
	width: 188px;
}
.list01 .list01_www {
	width: 282px;
}
.list01 a:link, .list01 a:visited {
	color: #4b5053;
}
.list01 a:hover {
	color: #e60012;
	text-decoration: underline;
}
.list02 {
}
.list02 li {
	overflow: hidden;
	zoom: 1;
	height: 85px;
}
.list02 .p_a {
	float: left;
	width: 60px;
	margin-top: 5px;
	margin-right: 10px;
	_display: inline;
	_margin-right: 7px;
	_margin-top: 3px;
}
.list02 img {
	width: 60px;
	height: 60px;
}
.list02 h3 {
	overflow: hidden;
	zoom: 1;
	font: 100 16px/24px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
}
.list02 h3 a:link {
	color: #000;
}
.list02 h3 a:visited {
	color: #666;
}
.list02 h3 a:hover {
	color: #000;
	text-decoration: underline;
}
.list02 p {
	overflow: hidden;
	zoom: 1;
	font-size: 14px;
	color: #9a9a9a;
}

/* quick_links */
.quick_links {
	background: #fcfcfc;
	padding: 7px 0;
	border-bottom: 1px solid #eeeef0;
}
.quick_links span {
	font-size: 18px;
	line-height: 36px;
	padding-right: 19px;
}
.quick_links a {
	font-size: 16px;
	margin-right: 27px;
}
.quick_links a:link, .quick_links a:visited {
	color: #000;
}
.quick_links a:hover {
	color: #e60012;
	text-decoration: underline;
}

 

.labspace {
	width: 58px;
	display: inline-block;
}
/* article */
.article {
	position: relative;
}
.section {
	padding-bottom: 5px;
	position: relative;
	zoom: 1;
}
.section div {
	padding: 15px 0 10px 0;
	border-bottom: 1px solid #eaeaea;
}
/* aside */
.aside {
	float: right;
	width: 210px;
	_display: inline;
}
.aside h2 {
	font: 100 22px/40px 'Arial', 'Microsoft Yahei', '微软雅黑', 'Simhei', '黑体';
	color: #e60012;
}
body{position: relative}

/* btn_top */
.btn_top {
	position: fixed;
	left: 50%;
	bottom: 100px;
	margin-left: 500px;
	width: 50px;
	overflow: hidden;
	display: none;
	_position: absolute;
}
.btn_top a {
	display: block;
	height: 50px;
	background: url(http://i1.sinaimg.cn/dy/main/sinaguide/btop.png) no-repeat;
	background-position: 0 0;
	overflow: hidden;
	-webkit-transition: background-position 300ms;
	-moz-transition: background-position 300ms;
	-ms-transition: background-position 300ms;
	-o-transition: background-position 300ms;
	transition: background-position 300ms;
}
.btn_top a:hover {
	background-position: 0 -50px;
}
body,td,th {
	font-family: Arial, "Microsoft Yahei", "微软雅黑", Simsun, "宋体";
}


.fn-clear::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

ins, a {
    text-decoration: none;
}

/*content*/
.content{  
    margin: 0 auto;
    width: 1200px;
    min-height: 750px;
    height: auto !important;
}
.content a{color: #506eaa;text-decoration: none;}
.hotcities { width:1160px; margin-top:5px; border-top: 2px solid #dedede; border-bottom: 1px solid #dfdfdf; height: 90px; padding: 0 20px;
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e9e9e9,endcolorstr=#ffffff,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e9e9e9,endcolorstr=#ffffff,gradientType=0);/*IE8*/
    background:#fff; /* 一些不支持背景渐变的浏览器 */
    background:-moz-linear-gradient(top, #e9e9e9, #ffffff);
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#e9e9e9), to(#ffffff));
    background:-o-linear-gradient(top, #e9e9e9, #ffffff)}
.hotcities h2 { border-right: 1px solid #dfdfdf; font-size: 22px; display:inline-block; font-weight:normal; padding: 0 20px 0 0; height: 70px; line-height: 70px; vertical-align: top; }
.hotcities h2 a { font-size: 30px; margin: 0 0 0 6px; color: #FD8000;}
.hotcities h2 a span{ margin-left:5px;}
.hotcities .headInf{ display:inline-block; width: 860px; height: 60px; line-height: 20px; padding:0px 20px; padding-top: 10px; color:#506eaa}
.hotcities .headInf ul{
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
}
.hotcities .headInf ul li{
    float: left; 
    color: coral;
    min-width: 200px;
}
.hotcities .headInf ul li span{
    font-weight: bold;

}
.province_choose { border-bottom: 1px solid #E4E5E5; color: #616161; font-size: 14px; height: 42px; padding: 20px 0 0 26px; background:#fff; position:relative;}
.province_choose span{ float:left;}
.province_choose label { float: left; font-weight: 700; height: 26px; line-height: 26px; font: bold 16px/24px Arial;}
.province_choose select { width:100px; border: 1px solid #E2E2E2; display: inline; float: left; height: 22px; margin-left: 10px; margin-top: 2px; }
.province_choose #btn { border: 0 none; cursor: pointer; display: inline; float: left; height: 22px; margin: 2px 0 0 10px; width: 46px; color:#fff; background:#00aa5f; }
.province_choose .share{ position:absolute; top:50%; margin-top:-18px; right:20px;}

.hot_city { float:left; width:1200px; font: bold 14px/24px Arial; clear:both; overflow:hidden; border-bottom:1px #dfdfdf solid; padding:10px 28px; background:#fff;}
.hot_city dt { float:left; margin-right:10px; font-size: 16px;}
.hot_city dd a{ margin:0px 8px;}
.hot_city dd a:hover{ color:#ed5f01; text-decoration:underline;}


.pinyin{ float:left; width:1170px; margin-bottom:25px;  background: #fafafa; border-bottom:1px #dfdfdf solid; position: relative; padding:15px 28px;}
.pinyin:before,.pinyin:after{ content:""; position:absolute; width:0; height:0; border-style:solid;}
.pinyin:before{ left:50%; bottom:-24px; margin-left:-10px; border-width:12px; border-color:#dfdfdf transparent transparent transparent;}
.pinyin:after{ left:50%; bottom:-20px; margin-left:-8px; border-width:10px; border-color:#fafafa transparent transparent transparent;}
.pinyin dt{ float:left; margin-right:10px; font: bold 16px/27px Arial;}
.pinyin dd { width: 1002px; height: 36px;}
.pinyin a { font-size: 18px; width:25px; height:25px; text-align:center; line-height:25px; display:inline-block;}
.pinyin a:hover{ background:#00aa5f; color:#fff;}


.city_box{background:#fff;}
.city_box ul{ height:auto;overflow:hidden}
.city_box .pt15{ padding-bottom:15px}
.city_box .letter-list{ width:100%; height:auto; overflow:hidden}
.city_box .letter-list .city-list{ height:auto; overflow:hidden; border-bottom:1px solid #F0F0F0; background:#FAFAFA; z-index:1; position:relative;}
.city_box .letter-list .city-list .letter{ float:left; padding-top:13px; width:140px; line-height:100%; font-size:20px; text-align:center; z-index:1;}
.city_box .letter-list .city-list .arrow{ display:none; position:absolute; top:17px; left:41px; width:0; height:0; border-width:7px; border-style:solid; border-color:#00aa5f #FFF #00aa5f #00aa5f; z-index:10}
.city_box .letter-list .city-list .cities{ float:left; width:1010px; padding:12px 25px; background:#FFF}
.city_box .letter-list .city-list .cities li{ float:left; line-height:26px; padding-right:15px; white-space:nowrap}
.city_box .letter-list .city-list-hover{ background:#00aa5f; cursor:pointer}
.city_box .letter-list .city-list-hover .letter{ color:#FFF}
.city_box .letter-list .city-list-hover .arrow{ display:inline-block; }
.city_box .letter-list .city-list-hover .cities{ background:#FAFAFA}
.city_box .letter-list .city-list .cities li a{ padding:3px 5px;}
.city_box .letter-list .city-list .cities li a:hover{ background:#778a98; color:#fff;}
